table {
    font-size: 19px;
    border-collapse: collapse;
    width: auto;
    display: inline-block;
    margin-left: 5px;
}

th {
    column-span: all;
}

th,
td {
    text-align: left;
    padding: 5px;
    border: 1px solid black;
}

.covaxin {
    background-color: #65d4be8c;
}

.covishield {
    background-color: #fff17285;
}

.sputnik {
    background-color: #da242485;
}

.space {
    margin-left: 0px;
}

select option[disabled] {
    background-color: #80808066;
}

.sidenav {
    height: 0;
    width: 0;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
    font-size: 25px;
    border: 1px solid black;
}

.sidenav table {
    font-size: 25px;
}

select,
input {
    font-size: 20px;
}

.sidenav tr td {
    padding: 8px;
    text-decoration: none;
    transition: 0.3s;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

#divMessage {
    margin: 5px;
    border: 1px solid red;
    width: calc(100% - 15px);
}